<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Reset Password</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>{{messagePassword}}</strong></p>
  <span class="text-danger">Esta operação nao pode ser revertida.</span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="resetPassword()">Reset</button>
</div>
