<nav class="navbar navbar-expand-lg navbar-light " id="nav">
  <a class="navbar-brand mb-0 h1 text-white" routerLink="">{{accessType}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavHome" *ngIf="router.url === '/'">
    <ul class="navbar-nav">
      <h4 class="nav-item" style="color: white">
        Bem vindo ao Aubay Tester, {{name}}
      </h4>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav" *ngIf="router.url !== '/'">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-item nav-link text-white" [routerLinkActive]="['active']" routerLink="/startTest" >Iniciar Teste</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-white" [routerLinkActive]="['active']" routerLink="/createTest">Gerir
          Testes</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-white" [routerLinkActive]="['active']" routerLink="/tests"
        >Enunciados</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-white" [routerLinkActive]="['active']" routerLink="/results"
        >Resultados</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-item nav-link text-white" [routerLinkActive]="['active']" routerLink="/settings"
        >Definicoes</a>
      </li>
    </ul>
  </div>
  <span class="navbar-text mx-3 text-white" *ngIf="router.url != '/'">
    {{name}}
  </span>
  <button class="btn btn-outline-light text-white" (click)="logout()">Logout</button>
  <li class="nav-item dropdown" dropdown>
    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
    Basic dropdown<span class="caret"></span></a>
    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
        <div class="divider dropdown-divider"></div>
        <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
    </div>
</li>

</nav>