/* #navTab{
  background-color: white;
  color:#ea7451;
}

#navTab:hover{
  background-color: #ea7451;
  color: white;
}

#navTab:onclick{
  background-color: #ea7451;
  color: white;
}
 */

 .input-group {
  margin-top:30px;
}

.orangeButton {
  background-color: orangered;
  margin-top: 20px;
}

.margins {
  margin: 30px;
}

.myTest{
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
