<div class="vh-100 d-flex position-fixed w-100" style="background-color: #FAFAFA; overflow-y : auto;">
    <div class="container pt-3 h-100">

        <ngb-tabset (tabChange)="reset($event)" [justify]="'fill'">


            <!------------------------------------Gerador Testes---------------------------------------------------->
            <ngb-tab title="Gerador de Testes">
                <ng-template ngbTabContent>
                    <br>

                    <form #testForm="ngForm" class="container pt-3" (submit)="submitTest();">
                        <div class=" container h-100 w-100" style="padding: 16px; box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);">
                            <h1 class="margin-bottom">Gerador de Testes</h1>


                            <div class="form-group">
                                <div class="input-group mb-5 row justify-content-around">
                                    <div class="input-group-text" style="margin-left: 16px;">
                                        <label class="sr-only" for="inlineFormInputGroup"></label>Nome
                                    </div>
                                    <input required [(ngModel)]="testName" name="testNameChosen" #testNameChosen="ngModel" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Nome do Teste">
                                </div>
                                <div *ngIf='testError!=""' class="alert alert-danger">
                                    {{testError}}
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="col-3">
                                        <label for="duracaoTestes">Duração:&nbsp;&nbsp;</label> <input style="width: 80px;" required [(ngModel)]="timer" step="5" name="timerChosen" #timerChosen="ngModel" min="0" max="340" id="duracaoTestes" type="Number"
                                            placeholder="Minutos">
                                    </div>
                                    <div class="col-3">
                                        <label for="categoriaTestes">Categoria:&nbsp; </label>
                                        <select style="height: 30px" required [(ngModel)]="category" name="categoryChosen" #categoryChosen="ngModel" (change)="getNumberOfQuestionsByCategory(); numberOfQuestions=0" id="">
                                <ng-container *ngFor="let category of categories$ | async">
                                    <option value={{category.category.category}}> {{category.category.category}}
                                    </option>
                                </ng-container>
                              </select>
                                    </div>
                                    <div class="col" *ngIf="maximum">
                                        <label for="perguntasTestes">Nº Perguntas:&nbsp; </label><input required [(ngModel)]="numberOfQuestions" name="numberOfQuestionsChosen" type="Number" min="0" max="{{maximum}}">
                                    </div>
                                </div>

                                <button [disabled]="!testForm.form.valid" type="button" class="btn btn-primary orangeButton" value="+" (click)="addInfo()">+</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                <br>

                                <div *ngFor="let question of allRandomQuestions | paginate: { itemsPerPage: 1, currentPage: p }, let j=index">
                                    <br>

                                    <h2 *ngIf="j!=0 && allRandomQuestions[j-1].category.category!=allRandomQuestions[j].category.category || j==0">
                                        {{question.category.category}}
                                    </h2>
                                    <br>
                                    <div class="container border border-dark rounded">
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-1 .offset col-sm-11"></div>
                                            <input class="btn btn-dark text-white rounded" type="button" value="Swap" (click)="changeQuestion()">

                                        </div>

                                        <h4>{{question.question}}</h4><br>
                                        <div *ngFor="let option of question.options, let i=index">
                                            <p class="ml-2" *ngIf="question.solution.indexOf(i)!=-1">
                                                {{option}} <input type="checkbox" [checked]="true" disabled="disabled">
                                            </p>
                                            <p class="ml-2" *ngIf="question.solution.indexOf(i)==-1">
                                                {{option}} <input type="checkbox" disabled="disabled">
                                            </p>
                                            <hr>
                                        </div>
                                        <div class="text-center">
                                            <pagination-controls (pageChange)="p = $event;"></pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <input [disabled]="!testNameChosen.valid || !timerChosen.valid || allRandomQuestions==0" type="submit" id="margin-top" class="btn btn-primary orangeButton" value="Gerar Teste">
                            <div [hidden]="!successMessage" class="alert alert-success">
                                    Success
                            </div>
                        </div>
                    </form>
                    <div class="spacer" style="height: 100px"></div>
                </ng-template>

            </ngb-tab>


            <!------------------------------------Gerador Perguntas--------------------------------------------------->
            <ngb-tab title="Gerador de Perguntas">
                <ng-template ngbTabContent>
                    <br>
                    <form #questionForm="ngForm" class="container pt-3" (submit)="addQuestion();">

                        <div class=" container h-100 w-100" style="padding: 16px; box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);">
                            <h1>Gerador de Perguntas</h1>


                            <div class="form-group">
                                <div class="margins">
                                    <div>
                                        <label for="categoriaTestes">Categoria:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                        <select required [(ngModel)]="category" name="categoryChosen" id="">
                                  <ng-container *ngFor="let myCategory of categories">
                                      <option [value]="myCategory.category.category"> {{myCategory.category.category}}
                                      </option>
                                  </ng-container>
                              </select>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text" id="btnGroupAddon">Pergunta</div>
                                            </div>
                                            <input required [(ngModel)]="questionString" name="questionWritten" type="text" class="form-control" style="width: 65%" aria-label="Input group example" aria-describedby="btnGroupAddon" placeholder="Introduza Pergunta">
                                        </div>
                                        <div *ngIf='questionError!=""' class="alert alert-danger">
                                            {{questionError}}
                                        </div>
                                        <p></p>
                                        <div class="text-center align-self-center">

                                            <textarea required class="rounded" style="width: 95%" placeholder="Introduza Opção" [(ngModel)]="options[0]" name="optionWritten0" (change)="checkValidityQuestion()"></textarea>&nbsp;&nbsp;&nbsp;<input [(ngModel)]="firstCheck"
                                                name="checkFirstCheck" style="zoom: 1.5; padding-bottom: 5px" (change)="onChange(0, $event.target.checked)" type="checkbox">
                                            <div *ngFor="let i of numberOfTimes, let j=index">
                                                <textarea class="rounded" style="width: 95%" placeholder="Introduza Opção" [(ngModel)]="options[j+1]" name="optionWritten{{j+1}}" (change)="checkValidityQuestion()"></textarea>&nbsp;&nbsp;&nbsp;<input (change)="onChange(j+1, $event.target.checked)"
                                                    style="zoom: 1.5; padding-bottom: 5px" type="checkbox">

                                            </div>

                                        </div>
                                        <p></p>
                                        <input type="button" [disabled]="!questionFormValidity" name="" class="btn btn-primary orangeButton" (click)="addOption()" value="+">
                                        <br>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">

                            <input type="submit" [disabled]="!questionForm.form.valid || solution.length==0 || !questionFormValidity" class="btn btn-primary orangeButton" value="Gerar Pergunta">
                            <div [hidden]="!successMessage" class="alert alert-success">
                                    Success
                            </div>
                        </div>

                    </form>
                    <div class="spacer" style="height: 100px"></div>
                </ng-template>
            </ngb-tab>

            <!------------------------------------Gerador Categorias---------------------------------------------------->
            <ngb-tab title="Gerador de Categorias">
                <ng-template ngbTabContent>
                    <br>
                    <form #categoryForm="ngForm" class="container pt-3" (ngSubmit)="submitCategory();">
                        <div class=" container h-100 w-100" style="padding: 16px; box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);">
                            <h1>Gerador de Categorias</h1>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" id="btnGroupAddon">Categoria</div>
                                </div>
                                <input name="categoryChosen" #categoryChosen="ngModel" [(ngModel)]="categoryString" type="text" class="form-control" aria-label="Input group example" aria-describedby="btnGroupAddon" required placeholder="Introduza Categoria">
                            </div>
                            <!--<div [hidden]="categoryChosen.valid || categoryChosen.pristine || categoryChosen.untouched" class="alert alert-danger">
                      Name is required
                    </div>-->
                            <div [hidden]='categoryError==""' class="alert alert-danger">
                                {{categoryError}}
                            </div>
                            <br><br>
                        </div>

                        <div class="text-center">
                            <span>
                            <input type="submit" [disabled]="!categoryForm.form.valid" class="btn btn-primary orangeButton" value="Gerar Categoria">
                            <div [hidden]="!successMessage" class="alert alert-success">
                                Success
                            </div>
                            </span>
                        </div>

                    </form>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>

    </div>
</div>