<div class="modal-header" style="background-color: #e64415; color: white;">
    <h4 class="modal-title" id="modal-title">Alterar Perguntas</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="cancel()">
  <span aria-hidden="true" style="color: white">&times;</span>
</button>
</div>
<div class="modal-body" style="background-color: #FAFAFA; display: flex; flex-direction: column;height: 80vh;
overflow-y: auto;">
    <ngb-accordion #acc="ngbAccordion" activeIds="">
        <div *ngFor="let question of questions, let j=index">
            <ngb-panel>
                <div class="w-100">
                    <br>
                    <ng-template ngbPanelTitle>
                        <div class="container">
                            <div class="row">
                                <h6 class="col-md-11">{{question.question}}</h6><br>
                                <input [hidden]="checkIfQuestionAlreadyInUse(question)" class="col-md-1 justify-content-end" type="checkbox" [checked]="checkArray[j]" (change)="onChange(j,$event.target.checked); scroll(target, $event.target.checked)">
                            </div>
                        </div>
                    </ng-template>

                    <ng-template ngbPanelContent>
                        <div *ngFor="let option of question.options, let i=index">

                            <p class="ml-2 text-success font-weight-bolder" *ngIf="question.solution.indexOf(i)!=-1">
                                {{option}}
                            </p>
                            <p class="ml-2" *ngIf="question.solution.indexOf(i)==-1">
                                {{option}}
                            </p>
                        </div>
                    </ng-template>
                </div>
            </ngb-panel>
        </div>
    </ngb-accordion>
</div>
<div #target class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
    <button type="button" class="btn" style="background-color: #e64415; color: white;" (click)="delete()" [disabled]="check == 1">Alterar</button>
</div>
