<ng-template #content let-modal>
    <div class="modal-header" id="modal-basic-header">
        <h4 class="modal-title" id="modal-basic-title">Novo utilizador</h4>
        <button type="button" style="color:white;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body" style="background-color: #FAFAFA">
        <form #addUserForm="ngForm" (submit)="save(user)">
            <div class="form-group">
                <label for="nomeUtilizador">Nome utilizador :</label>
                <div class="input-group">
                    <input required id="nomeUtilizador" [(ngModel)]="user.username" class="form-control" placeholder="Nome Utilizador" name="nomeUtilizador">
                </div>
                <br>
                <label for="emailUtilizador">Email :</label>
                <div class="input-group">
                    <input required [email]="true" id="emailUtilizador" [(ngModel)]="user.email" class="form-control" placeholder="Email Utilizador" name="emailUtilizador">
                </div>
                <br>
                <label for="acessoUser">Permissões:</label>
                <div class="input-group">
                    <select class="rounded" style="height:36px" [(ngModel)]="user.accessType" name="accessType">
            <option value="Admin">Administrador</option>
            <option value="Recrutador">Recrutador</option>
          </select>
                </div>
            </div>
            <ngb-alert type="danger" *ngIf="check == 1" [dismissible]="false" class="danger">
                <strong>Warning!</strong> {{msg}}
            </ngb-alert>
            <div class="modal-footer">
                <button [disabled]="!addUserForm.form.valid" id="" type="submit" class="btn">Adicionar</button>
            </div>
        </form>
    </div>

</ng-template>

<button type="button" class="shadow-sm btn mr-3" (click)="open(content)">Novo utilizador</button>
<!-- <pre>{{closeResult}}</pre> -->