<div class="modal-header" style="background-color: #e64415; color: white;">
    <h4 class="modal-title" id="modal-title">{{messageTestName}}</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="cancel()">
  <span aria-hidden="true" style="color: white">&times;</span>
</button>
</div>
<div class="modal-body" style="background-color: #FAFAFA; display: flex; flex-direction: column;height: 80vh;
overflow-y: auto;">

<div class="row">
    <div class="col-6 text-center">
        java
<canvas baseChart
[data]="doughnutChartData"
[labels]="doughnutChartLabels"
[chartType]="doughnutChartType"
[colors]="doughnutChartColors">
</canvas>
</div>
<div class="col-6">
<canvas baseChart
[data]="doughnutChartData"
[labels]="doughnutChartLabels"
[chartType]="doughnutChartType"
[colors]="doughnutChartColors">
</canvas>
</div>
</div>
  <!-- <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <div *ngFor="let questions of myTest.questions, let i=index">
            <ngb-panel>
                <div class="container border border-dark rounded">
                    <br>
                    <div (click)="givenAnswerToQuestion(questions.id); print();">
                        <ng-template ngbPanelTitle>
                            <span><b><h6>{{questions.question}}</h6><br></b></span>
                        </ng-template>
                    <h6>{{questions.question}}</h6><br>
                    </div>

                    <ng-template ngbPanelContent>
                        <div *ngFor="let option of questions.options, let i=index">

                            <p class="ml-2 text-success font-weight-bolder " *ngIf="questions.solution.indexOf(i)!=-1">
                                {{option}}
                            </p>
                            <p class="ml-2" *ngIf="questions.solution.indexOf(i)==-1">
                                {{option}}
                            </p>
                        </div>
                    </ng-template>

                </div>
            </ngb-panel>
        </div>
    </ngb-accordion>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Fechar</button>
</div> -->