<div class="bg-white vh-100">
  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop-->
  <div class="container-fluid">
    <br />
    <br />
    <div class="row rounded">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <div id="lefttable" class="pt-5 w-75 pl-5">
          <app-modals></app-modals>

          <table class="table table-bordered bg-white border-secondary">
            <thead class="text-center" id="thead">
              <tr>
                <th class="text-center text-white" scope="col">Filters</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  <div class="text-center">
                    <input
                      class="form-control mr-sm-2"
                      type="search"
                      placeholder="Search"
                      aria-label="Search"
                    />
                    <br />
                    <button id="btnSelect"
                      class="btn text-secondary"
                      type="submit"
                    >
                      Search
                    </button>
                  </div>
                </th>
              </tr>

              <tr>
                <th>
                  <div>
                    <select class="text-center text-secondary btn-lg btn-group w-100">
                      <option disabled selected>Permissoes</option>
                      <option value="Admin">Administrator</option>
                      <option value="Recrutador">Recrutador</option>
                      <option value="Todas">Todas</option>
                    </select>
                  </div>
                </th>
              </tr>
              <tr>
                <th>
                  <div>
                    <select class="text-center text-secondary btn-lg btn-group w-100">
                      <option disabled selected>Ultimo-login</option>
                      <option value="maiortres"> > 3 meses</option>
                      <option value="maiorseis"> > 6 meses</option>
                      <option value="maiornove"> > 9 meses</option>
                      <option value="maiordoze"> > 12 meses</option>
                    </select>
                  </div>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div
        class="col-sm-12 col-md-9 .offset col-md-1 col-lg-9 .offset col-lg-1 "
      >
        <div class="pt-5 pr-5">
          <table
            class="table table-bordered bg-white border-secondary text-center"
            id="table"
          >
            <thead class="text-white" id="thead">
              <tr>
                <th>Utilizador</th>
                <th>Permissoes</th>
                <th>Ultimo-login</th>
                <th>Email</th>
                <th>Reset-Password</th>
                <th>Apagar Utilizador</th>
              </tr>
            </thead>
            <tbody style="font-size: 14px;">
              <tr>
                <td>Jose Carlos</td>
                <td>Recrutador</td>
                <td>06-07-2019</td>
                <td>joaocarlos@aubay.pt</td>
                <td>
                  <button type="button" class="btn btn-light">
                    <img
                      src="assets/encerrar.png"
                      style="height:25px; width:25px ;"
                    />
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-light">
                    <img
                      src="assets/bin.png"
                      style="height:25px; width:25px ;"
                    />
                  </button>
                </td>
              </tr>
              <tr>
                <td>Luis Carvalho</td>
                <td>Admin</td>
                <td>12-07-2019</td>
                <td>luiscarvalho@aubay.pt</td>
                <td>
                  <button type="button" class="btn btn-light">
                    <img
                      src="assets/encerrar.png"
                      style="height:25px; width:25px ;"
                    />
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-light">
                    <img
                      src="assets/bin.png"
                      style="height:25px; width:25px ;"
                    />
                  </button>
                </td>
              </tr>
              <tr>
                <td>Maria Joao</td>
                <td>Recrutador</td>
                <td>02-06-2019</td>
                <td>mariajoao@aubay.pt</td>
                <td>
                  <button type="button" class="btn btn-light">
                    <img
                      src="assets/encerrar.png"
                      style="height:25px; width:25px ;"
                    />
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-light">
                    <img
                      src="assets/bin.png"
                      style="height:25px; width:25px ;"
                    />
                  </button>
                </td>
              </tr>

              <tr>
                <td>Catia Aveiro</td>
                <td>Recrutador</td>
                <td>06-05-2019</td>
                <td>catiaaveiro@aubay.pt</td>
                <td>
                  <button type="button" class="btn btn-light">
                    <img
                      src="assets/encerrar.png"
                      style="height:25px; width:25px ;"
                    />
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-light">
                    <img
                      src="assets/bin.png"
                      style="height:25px; width:25px ;"
                    />
                  </button>
                </td>
              </tr>

              <tr>
                <td>Joao Felix</td>
                <td>Recrutador</td>
                <td>06-07-2018</td>
                <td>joaofelix@aubay.pt</td>
                <td>
                  <button type="button" class="btn btn-light">
                    <img
                      src="assets/encerrar.png"
                      style="height:25px; width:25px ;"
                    />
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-light">
                    <img
                      src="assets/bin.png"
                      style="height:25px; width:25px ;"
                    />
                  </button>
                </td>
              </tr>

              <tr>
                <td>Luis Pina</td>
                <td>Recrutador</td>
                <td>22-03-2019</td>
                <td>luispina@aubay.pt</td>
                <td>
                  <button type="button" class="btn btn-light">
                    <img
                      src="assets/encerrar.png"
                      style="height:25px; width:25px ;"
                    />
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-light">
                    <img
                      src="assets/bin.png"
                      style="height:25px; width:25px ;"
                    />
                  </button>
                </td>
              </tr>

              <tr>
                <td>Joao Sousa</td>
                <td>Recrutador</td>
                <td>29-08-2019</td>
                <td>joaosousa@aubay.pt</td>
                <td>
                  <button type="button" class="btn btn-light">
                    <img
                      src="assets/encerrar.png"
                      style="height:25px; width:25px ;"
                    />
                  </button>
                </td>
                <td>
                  <button type="button" class="btn btn-light">
                    <img
                      src="assets/bin.png"
                      style="height:25px; width:25px ;"
                    />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>