<div class="bg-white vh-100">
  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop-->
  <div class="container-fluid">
    <br />
    <br />
    <div class="row rounded">
      <div id="log">
        <app-modals></app-modals>
        <app-tables [header]='["username", "accessType", "lastLogin", "email"]'
          [labels]='["username", "Permissoes", "Ultimo-login", "Email","Reset-Password", "Apagar-Utilizador"]' [data$]='users$'>
        </app-tables>
      </div>
    </div>
  </div>
</div>