<div class="modal-header" style="background-color: #e64415; color: white;">
    <h4 class="modal-title" id="modal-title">Alteração de Password</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="cancel()">
    <span aria-hidden="true" style="color: white">&times;</span>
  </button>
</div>
<div class="modal-body" style="background-color: #FAFAFA">
    <p><strong>{{messageChangePasswordAntiga}}</strong></p>
    <p><label for=" passwordAntiga ">Password Antiga :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text " (click)="checkReset() " [(ngModel)]="passwordAntiga " id="passwordAntiga "></p>

    <ngb-alert type="danger " *ngIf="check==2 " [dismissible]="false " class="mt-2 danger ">
        <strong>Warning!</strong> A sua password antiga não está correcta!
    </ngb-alert>

    <p><label for="newPassword ">Password Nova :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="password " (click)="checkReset() " [(ngModel)]="newPassword " id="newPassword "></p>
    <p><label for="newPassword2 ">Introduza Novamente :&nbsp;&nbsp;</label><input type="password " (click)="checkReset() " [(ngModel)]="newPassword2 " id="newPassword2 "></p>

    <ngb-alert type="danger " *ngIf="check==1 " [dismissible]="false " class="mt-2 danger ">
        <strong>Warning!</strong> As passwords não correspondem!
    </ngb-alert>

</div>
<div class="modal-footer ">
    <button type="button " class="btn btn-outline-secondary " (click)="cancel() ">Cancel</button>
    <button id="btn" type="button " class="btn"  (click)="resetPasswordAntiga() ">Alterar</button>
</div>