<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Alteração de Password</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>{{messageChangePasswordAntiga}}</strong></p>
  <p><label for="passwordAntiga">Password Antiga :</label><input type="text" (click)="checkReset()" [(ngModel)]="passwordAntiga" id="passwordAntiga"></p>
  <ngb-alert type="danger" *ngIf="check == 2" [dismissible]="false" class="mt-2 danger">
      <strong>Warning!</strong> A sua password antiga não está correcta!
    </ngb-alert>
  <p><label for="newPassword">Password Nova :</label><input type="password" (click)="checkReset()" [(ngModel)]="newPassword" id="newPassword"></p>
  <p><label for="newPassword2">Introduza Novamente:</label><input type="password" (click)="checkReset()" [(ngModel)]="newPassword2" id="newPassword2"></p>

  <ngb-alert type="danger" *ngIf="check == 1" [dismissible]="false" class="mt-2 danger">
    <strong>Warning!</strong> As passwords não correspondem!
  </ngb-alert>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
  <button id="btn" type="button" class="btn" (click)="resetPasswordAntiga()">Alterar</button>
</div>
