.background{

    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.icon{
    color: white;
    opacity: 0.85;
    margin-top: 50px;
}

.text{
    color: white;
    font-weight: bold;
}

