
<section class="section">
<div class="background" style="background-image: url(assets/writing-828911_1280.jpg)"> 
  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop-->
  <div class="vh-100 align-self-center d-flex">
    <div class="row my-auto">
      <div class=" col-sm-12 col-md-6 col-lg-3 p-3 pt-5 border border-danger rounded-lg b-1">
        <i class="far fa-play-circle fa-5x" style="opacity: 0.8; color:white; background:DodgerBlue;"></i>
        <p class="pt-1">Gerir Testes</p>
      </div><br>
      <div class=" col-sm-12 col-md-6 col-lg-3 p-3 pt-5 border border-danger rounded-lg b-1">
        <p>Enunciados</p>
      </div><br>
      <div class="col-sm-12 col-md-6 col-lg-3 p-3 pt-5 border border-danger rounded-lg b-1">
        <img src="assets/tests.jpg" alt="Imagem UpAcademy" width="70%" />
        <p class="pt-3">Resultados</p>
      </div><br>
      <div class="col-sm-12 col-md-6 col-lg-3 p-3 pt-5 border border-danger rounded-lg b-1">
        <img src="assets/tests.jpg" alt="Imagem UpAcademy" width="70%" />
        <p class="pt-3">Definicoes</p>
      </div>
    </div>
  </div> 
 </div> 
</section>