<div class="login">

  <div class="wrapper">
    <a href="https://www.aubay.pt//" target="_blank">
      <img src="assets/aubayCopy.png" class="w-100" />
    </a>
    <form role="form">
      <div class="form-content">
        <div class="form-group">
          <input class="w-100" name="username" type="username" [(ngModel)]="user.username" placeholder="username" />
        </div>

        <div class="form-group">
          <input class="w-100" name="password" type="password" [(ngModel)]="user.password" placeholder="password" />
        </div>
      </div>
      <button type="button" style="background-color:#e64415;" class="btn w-100 text-white" (click)="login()"> Entrar </button>
      {{msg}}
    </form>
  </div>

</div>
