<app-particles></app-particles>
<div class="text-center pt-3 pb-5 row  position-fixed w-100">
  <div class="col">
    <a href="https://www.aubay.pt//" target="_blank">
    <img src="assets\aubayCopy.png" class="ml-4" style="max-width:120px; width: auto" />
     </a>
     <img src="assets\knowledge testing platfom logo.png"  style="max-width:160px; width: auto" />
  </div>
</div>
<div class="login vh-100 d-flex position-fixed w-100">
  <div class="wrapper p-3 rounded "  style="box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);" >
      <img src="assets\blank-profile-picture.png" class="w-100 pb-3" style="max-width:150px; width: auto" />
    <form role="form" >
      <div class="form-content">
        <div class="form-group">
          <input class="w-100" name="username" type="username" (click)="checkReset()" [(ngModel)]="user.username" placeholder="username / email" />
        </div>

        <div class="form-group">
          <input class="w-100" name="password" type="password" (click)="checkReset()" [(ngModel)]="user.password" placeholder="password" />
        </div>
      </div>
      <button type="button" class="btn w-100 text-white" (click)="login()"> Entrar </button>
      <ngb-alert type="danger" *ngIf="check == 1" [dismissible]="false" class="mt-2 danger">
        <strong>Warning!</strong> Username ou password errada!
      </ngb-alert>
    </form>
  </div>
  

