

.form-group {
    background-color: lightgray;
    color: white;
    padding:30px;
}

.col-20 {
    float: left;
    width: 20%;
    padding-left: 30px;
}

.col-80 {
    float: right;
    width: 80%;
    padding-right: 30px;
}

input {
    border: none;
    width: 100%;
}

button {
    margin-left: auto;
    margin-right: auto;            
    padding: 5px 20px;
}

#centerButton {
    text-align: center;
}

.background{

    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

