<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Apagar Utilizador</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{messageDelete}}</p>
  <p>Toda a Informação pertencente a este utilizador será apagada permanentemente.
  <span class="text-danger">Esta operação nao pode ser revertida.</span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
</div>
