<div class="vh-100 d-flex position-fixed w-100" style="background-color: #FAFAFA">
    <div class="container h-100 pt-3 mt-3">
        <h1><img src="assets\loginAvatarOrange.png" style="max-width:55px; width: auto" class="pb-2 pr-3"/>O Meu Perfil </h1><br>
        <div class="container rounded" style="padding: 16px; box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);">
            <h2 class="pl-3" style="color: black">{{name}}</h2>
            <p></p>
            <h5 class="pl-3" style="color: black"><strong>Permissões - </strong> {{accessType}}</h5>
            <br>
            <h5 class="pl-3 pb-1" style="color: black"><strong>Email - </strong>{{email}}</h5>
            <br>
            <h5 class="pl-3" style="color: black"><strong>Último login - </strong>{{ultimoLogin}}</h5>
            <button type="button" (click)="resetPassword()" class="btn float-right mt-1 mb-3">Alterar Password</button>
            <br>
            <br>
        </div>
    </div>
</div>