<div class="modal-header" style="background-color: #e64415; color: white;">
    <h4 class="modal-title" id="modal-title">Gerar Link</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="cancel()">
      <span style="color:white" aria-hidden="true">&times;</span>
    </button>
  </div>

  <form #createLinkForm="ngForm" (submit)="sendTest()">
    <div class="modal-body" style="background-color: #FAFAFA">


    <span class="text-dark">Escolha o Enunciado que deseja que seja gerado.</span><br><br>

    <select requeired (change)="selectorDisable = '1'" style="height: 38px" [(ngModel)]="selectedTest" class="w-100" name="Enunciado" id="">
      <option selected disabled>Enunciado</option>
      <ng-container *ngFor="let test of tests$ | async">
        <option value={{test.test.id}}> {{test.test.testName}}
        </option>
      </ng-container>
    </select>
    <br>
    <br>
        <input required style="height: 38px" class="w-100" [email]="true" type="email" [(ngModel)]="candidateEmail" name="emailCandidato" id="emailCandidato" placeholder="Introduza Email do Candidato">
    <br>
    <br>
    <label for="duracaoTestes">Tempo de Expiração:&nbsp;&nbsp;</label> <input required [(ngModel)]="timer" step="1" name="timerChosen" #timerChosen="ngModel" min="0" max="340" id="" type="Number" placeholder="dias">
    <span class="pl-3" ><button [disabled]="!createLinkForm.form.valid" id="btn" type="button" class="btn"  (click)="generateLink(); button=true;">Gerar Link </button></span>
    <br>
    <br>
    <div *ngIf="linkGenerated"><b>Link:</b> http://localhost:4200/generatedTestPage/{{linkId}}</div>
  
    <br>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
    <button  id="btn" [disabled]="!button" type="submit" class="btn"  (click)="print()">Enviar</button>
</div>
</form>