<div>
    <ngx-datatable #table class="bootstrap" [columns]="columns" (activate)="onActivate($event)" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]="rows">
        <ngx-datatable-column name="Perguntas" prop="question" [sortable]="true" [resizeable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">{{column.name}}</span>
            </ng-template>
            <ng-template let-row="row" let-sort="sortFn" ngx-datatable-cell-template>
                <span placement="right" ngbTooltip="{{row.question}}">{{set_text(row.question,23)}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Categoria" prop="category.category" [sortable]="true" [resizeable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">{{column.name}}</span>
            </ng-template>
            <ng-template let-row="row" let-sort="sortFn" ngx-datatable-cell-template>
                <span style="margin-left: 13px">{{row.category.category}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Apagar" [resizeable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span>{{column.name}}</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span><i style="margin-left: 12px" id="icon" class="fas fa-trash fa-lg" (click)= "onClickFas(row, $event)"></i></span>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>

