<input 
    type="text"
    style="padding:8px;margin:15px auto;width:30%;height: 38px;"
    placeholder="Escreva para filtar por Nome do Teste"
    (keyup)="updateFilter($event)"
  
  />
<div>
  <ngx-datatable #table class="bootstrap" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
    [rowHeight]="'auto'" [limit]="10" [rows]="rows">
    <ngx-datatable-column name="Nome do Teste" prop="test.testName" [sortable]="true" [resizeable]="false" >
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{column.name}}</span>
      </ng-template>
      <ng-template let-row="row" let-sort="sortFn" ngx-datatable-cell-template>
          {{row.test.testName}}
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Categorias" prop="categories" [sortable]="true" [resizeable]="false" >
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
      <span (click)="sort()">{{column.name}}</span>
    </ng-template>
    <ng-template let-row="row" let-sort="sortFn" ngx-datatable-cell-template>
        {{row.categories}}
    </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Autor" prop="test.author.username" [sortable]="true" [resizeable]="false" >
  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    <span (click)="sort()">{{column.name}}</span>
  </ng-template>
  <ng-template let-row="row" let-sort="sortFn" ngx-datatable-cell-template>
      {{row.test.author.username}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Nº de Testes Realizados" prop="test.submittedTests" [sortable]="true" [resizeable]="false" >
  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    <span (click)="sort()">{{column.name}}</span>
  </ng-template>
  <ng-template let-row="row" let-sort="sortFn" ngx-datatable-cell-template>
      {{row.test.submittedTests}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Resultado Médio" prop="test.averageScore" [sortable]="true" [resizeable]="false" >
  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    <span (click)="sort()">{{column.name}}</span>
  </ng-template>
  <ng-template let-row="row" let-sort="sortFn" ngx-datatable-cell-template>
      <!-- averageScore color scale -->
      <span *ngIf="row.test.averageScore <= 100 && row.test.averageScore > 90" style="background:#00FF00; color: white;font-weight: bold;" >{{row.test.averageScore}}%</span>
      <span *ngIf="row.test.averageScore <= 90 && row.test.averageScore > 80" style="background:#35FF00; color: white;font-weight: bold;" >{{row.test.averageScore}}%</span>
      <span *ngIf="row.test.averageScore <= 80 && row.test.averageScore > 70" style="background:#6AFF00; color: white;font-weight: bold;" >{{row.test.averageScore}}%</span>
      <span *ngIf="row.test.averageScore <= 70 && row.test.averageScore > 60" style="background:#D4FF00; color: white;font-weight: bold;" >{{row.test.averageScore}}%</span>
      <span *ngIf="row.test.averageScore <= 60 && row.test.averageScore > 50" style="background:#FFF600; color: white;font-weight: bold;" >{{row.test.averageScore}}%</span>
      <span *ngIf="row.test.averageScore <= 50 && row.test.averageScore > 40" style="background:#FFAF00; color: white;font-weight: bold;" >{{row.test.averageScore}}%</span>
      <span *ngIf="row.test.averageScore <= 40 && row.test.averageScore > 30" style="background:#FF8C00; color: white;font-weight: bold;" >{{row.test.averageScore}}%</span>
      <span *ngIf="row.test.averageScore <= 30 && row.test.averageScore > 20" style="background:#FF6900; color: white;font-weight: bold;" >{{row.test.averageScore}}%</span>
      <span *ngIf="row.test.averageScore <= 20 && row.test.averageScore > 10" style="background:#FF4600; color: white;font-weight: bold;" >{{row.test.averageScore}}%</span>
      <span *ngIf="row.test.averageScore <= 10 && row.test.averageScore >= 0" style="background:#FF0000; color: white;font-weight: bold;" >{{row.test.averageScore}}%</span>
  </ng-template>
</ngx-datatable-column>
  </ngx-datatable>
</div>
