/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import'../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~pretty-checkbox/src/pretty-checkbox.scss';


/*
bootstrap table theme
*/

.ngx-datatable.bootstrap {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    font-size: 14px;
    .datatable-header {
      height: unset !important;
      background: #e64415;
      color: white;
      font-size:16px;
      text-align: left;
      .datatable-header-cell {
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: 1px solid #d1d4d7;
        .datatable-header-cell-label {
          line-height: 24px;
        }
      }
    }
    .datatable-body {
      .datatable-body-row {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #d1d4d7;
        &:hover {background-color: rgba(0,0,0,0.15);
          }
        &.active {
          background-color: #1483ff;
          color: #FFF;
        }
        .datatable-body-cell {
          text-align: left;
          vertical-align: top;
          
        }
      }
    }
    .datatable-footer {
      background: white;
      color: black;
      margin-top: -1px;
      .page-count {
        line-height: 50px;
        height: 50px;
        padding: 0 1.2rem;
      }
      .datatable-pager {
        margin: 0 10px;
        vertical-align: top;
        ul {
          li {
            margin: 10px 0px;
            &:not(.disabled) {
              &.active,
              &:hover {
                a {
                  background-color: rgba(0,0,0,0.10);
                  font-weight: bold;
                }
              }
            }
          }
        }
        a {
          height: 22px;
          min-width: 24px;
          line-height: 22px;
          padding: 0;
          border-radius: 3px;
          margin: 0 3px;
          text-align: center;
          vertical-align: top;
          text-decoration: none;
          vertical-align: bottom;
          color: black;
        }
        .datatable-icon-left,
        .datatable-icon-skip,
        .datatable-icon-right,
        .datatable-icon-prev {
          font-size: 18px;
          line-height: 27px;
          padding: 0 3px;
        }
      }
    }
  }
