<div class="table-responsive">
        <table class="table table-bordered bg-white border-secondary text-center">
          <thead id="thead" class="text-white text-center">
            <tr>
              <th *ngFor="let col of labels">
                {{col}}
              </th>
            </tr>
          </thead>
          <tbody class="text-center" style="font-size: 14px;">
            <tr *ngFor="let row of data$ | async">
              <ng-container *ngIf="row.id!=this.current_id">
                <td *ngFor="let col of header">
                    {{row[col]}}
                </td>
                <td *ngFor="let col of icons" (click)="clickRow(row)" >
                  <i id="icon" class="{{col}} fa-lg" (click)= "onClickFas(row, $event)"></i>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>