<div class="vh-100 d-flex position-fixed w-100" style="background-color: #FAFAFA">
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop-->
    <div class="container-fluid h-100">
        <br />
        <br />
        <div class="row rounded">
            <div class="col-sm-12 col-md-3 col-lg-3">

                <div id="lefttable" class="pt-5 w-75 pl-5">

                    <table class="table table-bordered bg-white border-secondary">
                        <thead class="text-center" id="thead">
                            <tr>
                                <th class="text-center text-white" scope="col">Filters</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <div>
                                        <select class="text-center btn-lg btn-group w-100">
                      <option value="Admin">Administrator</option>
                      <option value="Recrutador">Recrutador</option>
                    </select>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <div>
                                        <select class="text-center btn-lg btn-group w-100">
                      <option value="Admin">Administrator</option>
                      <option value="Recrutador">Recrutador</option>
                    </select>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <div>
                                        <select class="text-center btn-lg btn-group w-100">
                      <option value="Admin">Administrator</option>
                      <option value="Recrutador">Recrutador</option>
                    </select>
                                    </div>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-12 col-md-9 .offset col-md-1 col-lg-9 .offset col-lg-1 ">

                <div class="pt-5 pr-5">
                    <table class="table table-bordered bg-white border-secondary text-center" id="table">
                        <thead class="text-white" id="thead">
                            <tr>
                                <th>Candidato</th>
                                <th>Teste</th>
                                <th>Recrutador</th>
                                <th>Resultado</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 14px;">
                            <tr>
                                <td>Andre Carlos</td>
                                <td>Teste Java e SQL - Versao A</td>
                                <td>Sara Pinto</td>
                                <td>29%</td>
                            </tr>
                            <tr>
                                <td>Luis Carvalho</td>
                                <td>Teste Java e SQL - Versao
                                    <B></B>
                                </td>
                                <td>Duarte Lamas</td>
                                <td>89%</td>
                            </tr>
                            <tr>
                                <td>Maria Joao</td>
                                <td>Teste C++</td>
                                <td>Arlindo Sousa</td>
                                <td>66%</td>
                            </tr>

                            <tr>
                                <td>Mariana Santos</td>
                                <td>Teste de Scala</td>
                                <td>Bernardo Barros</td>
                                <td>70%</td>
                            </tr>

                            <tr>
                                <td>Jose Carlos</td>
                                <td>Teste Java e SQL - Versao A</td>
                                <td>Sara Pinto</td>
                                <td>29%</td>
                            </tr>

                            <tr>
                                <td>Joao Carvalho</td>
                                <td>Teste Java e SQL - Versao B</td>
                                <td>Diogo Marcal</td>
                                <td>89%</td>
                            </tr>

                            <tr>
                                <td>Sara Mesuras</td>
                                <td>Teste C++</td>
                                <td>Joao Caldeiras</td>
                                <td>40%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>