<div class="bg-white vh-100">
  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop-->
  <div class="container">
    <div class="row rounded">
      <div class="col-sm col-md">
        <div class="pl-3 pt-3 pr-3">
          <div id="log">
            <app-ngx-tests-table [columns]="[
            { prop: 'candidate', name:'Candidato' },
            { prop: 'testName', name: 'Nome do Teste' },
            { prop: 'recrutador', name: 'Recrutador' },
            { prop: 'score', name: 'Resultado' }
            ]" 
            [rows] = 'tests$ | async'
            [temp] = 'tests$ | async' > 
          </app-ngx-tests-table>
          </div>
        </div>
    </div>
  </div>
</div>



